# Create Documentation .rst-Files from Data Description Table

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Read-in-Codebook-&amp;-Set-Variable-Names" data-toc-modified-id="Read-in-Codebook-&amp;-Set-Variable-Names-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Read in Codebook &amp; Set Variable Names</a></span></li><li><span><a href="#Create-Documentation" data-toc-modified-id="Create-Documentation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Create Documentation</a></span><ul class="toc-item"><li><span><a href="#Create-documentation-files" data-toc-modified-id="Create-documentation-files-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Create documentation files</a></span></li></ul></li></ul></div>

In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import numpy as np
from functions import *

## Read in Codebook & Set Variable Names

Specifiy column names that should be used to create the files:

* **q_groups**: Variable groups, groups will be used as sections in the topic files.
* **q_label**: Should contain the question.
* **q_type**: Should contain the question type. The following types are currently accepted: [Categorical,bool, int, float, str]
* **q_topics**: Topic groups, each topic will get its own .rst-file.
* **gesis_indicator**: Indicator for whether the question is also in the GESIS questionnaire.

In [2]:
waveid = "tuc"
lanid = "e"
language = "english"
q_groups = "group"
q_label = "label_" + language
q_type = "type"
q_categories = "categories_" + language
q_varname = "new_name"
q_ids = "qid"
image_id ="image_id"
sqid="id"
q_layout="layout"
q_filter="filter"
q_text ="question_" + language
q_sub_text="subquestion_" + language
q_numbers="page_w7"

In [3]:
target_dir = "time-use-consumption/rst-files-pages-"+language+"/"
image_path = "../_screenshots/"

Load codebook/description table:

In [4]:
codebook = pd.read_csv("time-use-consumption/codebook-time-use-consumption.csv", sep = ";")
codebook.head(5)

,new_name,labels,L_consumption_w7_3.0p.dta,L_consumption_w6_5p.dta,page_w7,page_w6,qid,filter,layout,group,question_english,subquestion_english,categories_english,type,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,intro,NaN,intro,intro,0,0,intro,-,open,Intro,This questionnaire is about how you spend your...,NaN,NaN,str,NaN,NaN,NaN,NaN,NaN
1,children_not_school,NaN,q2a,-,1,-,q2a,-,cat,Pre-School Children in Household,Are there one or more children in your househo...,NaN,"Yes, No",Categorical,NaN,NaN,NaN,NaN,NaN
2,children_school,NaN,q2b,-,2,-,q2b,-,cat,School Children in Household,Do you have one or more children in your house...,NaN,"Yes, No",Categorical,NaN,NaN,NaN,NaN,NaN
3,hours_cc_young_self_202002,NaN,q2a_1_pre,-,3.01,-,q2a_pre_post,q2a,grid,Time Use Youngest Pre-School Child,We would like to know who takes care of the yo...,myself,"Hours per week before, Hours per week after",int,NaN,NaN,NaN,NaN,NaN
4,hours_cc_young_partner_202002,NaN,q2a_2_pre,-,3.02,-,q2a_pre_post,q2a,grid,Time Use Youngest Pre-School Child,We would like to know who takes care of the yo...,partner/spouse,"Hours per week before, Hours per week after",int,NaN,NaN,NaN,NaN,NaN

In [5]:
# Removed undesired groups.
codebook = codebook[codebook[q_groups].notna()]
codebook = codebook[codebook[q_ids].notna()]

for val in ['Skip','questionnaire','background']:
    codebook = codebook[codebook[q_groups] != val]

In [6]:
codebook = codebook[codebook[q_numbers] != "skip"]

In [7]:
codebook[q_numbers] = codebook[q_numbers].astype("float")

In [8]:
codebook = codebook.sort_values(by=q_numbers)

In [9]:
#codebook["new_name"]=""

In [10]:
codebook

,new_name,labels,L_consumption_w7_3.0p.dta,L_consumption_w6_5p.dta,page_w7,page_w6,qid,filter,layout,group,question_english,subquestion_english,categories_english,type,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,intro,NaN,intro,intro,0.00,0,intro,-,open,Intro,This questionnaire is about how you spend your...,NaN,NaN,str,NaN,NaN,NaN,NaN,NaN
1,children_not_school,NaN,q2a,-,1.00,-,q2a,-,cat,Pre-School Children in Household,Are there one or more children in your househo...,NaN,"Yes, No",Categorical,NaN,NaN,NaN,NaN,NaN
2,children_school,NaN,q2b,-,2.00,-,q2b,-,cat,School Children in Household,Do you have one or more children in your house...,NaN,"Yes, No",Categorical,NaN,NaN,NaN,NaN,NaN
3,hours_cc_young_self_202002,NaN,q2a_1_pre,-,3.01,-,q2a_pre_post,q2a,grid,Time Use Youngest Pre-School Child,We would like to know who takes care of the yo...,myself,"Hours per week before, Hours per week after",int,NaN,NaN,NaN,NaN,NaN
4,hours_cc_young_partner_202002,NaN,q2a_2_pre,-,3.02,-,q2a_pre_post,q2a,grid,Time Use Youngest Pre-School Child,We would like to know who takes care of the yo...,partner/spouse,"Hours per week before, Hours per week after",int,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,questionnaire_difficult,Was it difficult to answer the questions?,eva2t1,eva2t1,21.10,11.1,eva2t,-,table,Questionnaire Evaluation,Note: Please complete the questionnaire until ...,Did you find it difficult to answer the questi...,"1,2,3,4,5",Categorical,NaN,NaN,NaN,NaN,NaN
107,questionnaire_clear,Were the questions sufficiently clear?,eva2t2,eva2t2,21.20,11.2,eva2t,-,table,Questionnaire Evaluation,Note: Please complete the questionnaire until ...,Did you find the questions clear?,"1,2,3,4,5",Categorical,NaN,NaN,NaN,NaN,NaN
108,questionnaire_thinking,Did the questionnaire get you thinking about t...,eva2t3,eva2t3,21.30,11.3,eva2t,-,table,Questionnaire Evaluation,Note: Please complete the questionnaire until ...,Did the questionnaire get you thinking?,"1,2,3,4,5",Categorical,NaN,NaN,NaN,NaN,NaN
109,questionnaire_interesting,Was it an interesting subject?,eva2t4,eva2t4,21.40,11.4,eva2t,-,table,Questionnaire Evaluation,Note: Please complete the questionnaire until ...,Did you find the subject interesting?,"1,2,3,4,5",Categorical,NaN,NaN,NaN,NaN,NaN
110,questionnaire_enjoy,Did you enjoy answering the questions?,eva2t5,eva2t5,21.50,11.5,eva2t,-,table,Questionnaire Evaluation,Note: Please complete the questionnaire until ...,Did you enjoy filling in the questions?,"1,2,3,4,5",Categorical,NaN,NaN,NaN,NaN,NaN

## Create Documentation

In [11]:
create_pages(
    codebook,
    waveid,
    lanid,
    q_ids, 
    q_filter, 
    q_groups, 
    q_layout, 
    q_text, 
    q_sub_text, 
    q_categories, 
    q_varname, 
    target_dir,
    image_path)

### Create documentation files

In [12]:
#variables = codebook[["new_name","qid","id","filter","group","type"]]
#variables.to_csv("wave-2/variable_overview.csv")

In [13]:
#create_topic_folders(codebook, q_topics, target_dir)

In [14]:
#create_group_file(codebook, q_topics, q_groups, q_type, q_label, q_categories, q_varname, target_dir,True)

In [15]:
#topics = get_rst_names(list(codebook[q_topics].unique()))
#topics